*{
  padding:0px;
  margin:0px;
  box-sizing: border-box;
}

body{
  background-color: rgb(176, 227, 243);
}

.wrapper{
  /*background-color: rgb(145, 145, 236);*/
  min-height: calc(100vh - 56px - 40px );
}

.about-img{
  width:350px;
  height:350px;
}

